<form method="post" action="{{ path('app_warticle_delete', {'id': warticle.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ warticle.id) }}">
    <button class="btn">Delete</button>
</form>
