{% extends 'base.html.twig' %}

{% block title %}Edit Dproduit{% endblock %}

{% block body %}
    <h1>Edit Dproduit</h1>

    {{ include('dproduit_catalog/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_dproduit_catalog_index') }}">back to list</a>

    {{ include('dproduit_catalog/_delete_form.html.twig') }}
{% endblock %}
