{% extends 'base.html.twig' %}

{% block title %}Edit Dcategorie{% endblock %}

{% block body %}
    <h1>Edit Dcategorie</h1>

    {{ include('admin_dcategorie/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_dcategorie_index') }}">back to list</a>

    {{ include('admin_dcategorie/_delete_form.html.twig') }}
{% endblock %}
