{% extends 'base.html.twig' %}

{% block title %}New Dproduit{% endblock %}

{% block body %}
    <h1>Create new Dproduit</h1>

    {{ include('admin_dproduit/_form.html.twig') }}

    <a href="{{ path('app_admin_dproduit_index') }}">back to list</a>
{% endblock %}
