<form method="post" action="{{ path('app_admin_scategorie_delete', {'id': scategorie.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ scategorie.id) }}">
    <button class="btn">Delete</button>
</form>
