{% extends 'base.html.twig' %}

{% block title %}New Scategorie{% endblock %}

{% block body %}
    <h1>Create new Scategorie</h1>

    {{ include('admin_scategorie/_form.html.twig') }}

    <a href="{{ path('app_admin_scategorie_index') }}">back to list</a>
{% endblock %}
